extends standalone-base.pug

block head
    link(rel="stylesheet", href="https://static.jpcode.dev/css/widget_standalone.css")      
    
    title #{title}!

block body
    .widget_container
        h1 #{title}
        hr
        div.widget_content
            p !{content}
        each widget, key in widgets
            a.button(href=`https://www.jpcode.dev/dnd/ian-oota/${key}`) #{widget.title} (#{widget['session-date']})
            br