extends standalone-base.pug

block head
    link(rel="stylesheet", href="https://static.jpcode.dev/css/widget_standalone.css")      

    title #{title}!

block body
    .widget_container
        h1 #{title}
        hr
        div.widget_content_list#widget_content
            table.gh
                thead
                    tr
                        th Title
                        th Session Date
                tbody
                    each widget, key in widgets
                        tr(data-session-date=widget["session-date"])
                            td 
                                a.note(href=`https://www.jpcode.dev/${webroot}/${key}`) #{widget.title}
                            td #{widget['session-date']}

    script(src="https://www.jpcode.dev/js/list_sort.js") 