extends standalone-base.pug

block head
    link(rel="stylesheet", href="https://static.jpcode.dev/css/widget_standalone.css")      
    if (ogPreview)
        meta(property="og:title", content=`${ogPreview.title}`)
        //- meta(property="og:description", content=`${ogPreview.description}`)
        meta(property="og:url", content=`${ogPreview.url}`)
        meta(property="og:image", content=`${ogPreview.image}`)

    title #{title}

block titlemixin 
    include mixins/fabric_head_title.mixin.pug
    

block body
    .widget_container
        h1 #{title}
        hr
        div.widget_content_list#widget_content
            table.gh
                thead
                    tr
                        th Mod
                        th GitHub
                        th Modrinth
                        th CurseForge
                tbody
                    each mod of mods
                        tr
                            td #{mod.name}
                            td #[a(href=`${mod.github}`) #{mod.github ? "GitHub" : null}]
                            td #[a(href=`${mod.modrinth}`) #{mod.modrinth ? "Modrinth" : null}]
                            td #[a(href=`${mod.curseforge}`) #{mod.curseforge ? "CurseForge" : null}]
                                //- a.note(href=linkify(`/${webroot}/${key}`)) #{widget.title}
    .smalltext.right
        |The Fabric logo is licensed by the 
        a(href="https://fabricmc.net/") Fabric Project
        |  under a
        |<a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>
