extends standalone-base.pug

block head
    link(rel="stylesheet", href="https://static.jpcode.dev/css/widget_standalone.css")      

    title #{title}!

block titlemixin 
    include mixins/dnd_head_title.mixin.pug
    

block body
    .widget_container
        h1 #{title}
        hr
        div.widget_content_list#widget_content
            table.gh
                thead
                    tr
                        th Title (Link)
                        th Session Date
                tbody
                    each [key, widget] of widgets
                        tr(data-session-date=widget["session-date"])
                            td 
                                a.note(href=`https://www.jpcode.dev/${webroot}/${key}`) #{widget.title}
                            td #{widget['session-date']}
