extends standalone-base.pug

block head
    link(rel="stylesheet", href=linkifyStatic("/css/widget_standalone.css"))
    if (ogPreview)
        meta(property="og:title", content=`${ogPreview.title}`)
        //- meta(property="og:description", content=`${ogPreview.description}`)
        meta(property="og:url", content=`${ogPreview.url}`)
        meta(property="og:image", content=`${ogPreview.image}`)

    title #{title}

block titlemixin 
    include mixins/dnd_head_title.mixin.pug
    

block body
    .widget_container
        h1 #{title}
        hr
        div.widget_content_list#widget_content
            table.gh
                thead
                    tr
                        th Title (Link)
                        th Session Date
                tbody#notes_table_body
                    each [key, widget] of widgets
                        tr(data-session-date=widget["session-date"])
                            td 
                                a.note(href=linkify(`/${webroot}/${key}`)) #{widget.title}
                            td #{widget['session-date']}
    script.
        (function(){
            const tbody = document.getElementById('notes_table_body');
            [...tbody.children]
                .sort((a, b) => new Date(b.dataset.sessionDate) - new Date(a.dataset.sessionDate))
                .forEach(el => tbody.appendChild(el));
        })();
