
extends standalone-base.pug

block head
    meta(name="description", content="A repository of development projects by John Paul Rutigliano.")
    meta(name="keywords", content="jp, code, jpcodedev, jpcode, john paul rutigliano, John-Paul-R, full stack, developer, dev")
    link(rel="stylesheet", href="https://static.jpcode.dev/css/projects-list.css")
    style.
        #content_main, #content_center {
            position: relative;
        }
        #content_center > hr {
            width: clamp(256px, 480px, 90%);
            transform: scale(0.001, 1);
            transition: transform 1s, opacity 1s;
            margin: 0 auto;
            opacity: 0;
        }
    title Projects - JPCode.Dev

block titlemixin 
    include mixins/main_head_title.mixin.pug
    

block nav_end 
    a#resume_btn.button(href="https://static.jpcode.dev/resume", role="menuitem") #[span.text Resumé] #[span.material-icons description] 
    a#contact_btn.button(href="https://www.jpcode.dev/contact", role="menuitem") #[span.text Contact] #[span.material-icons email]


block body
 #content_center.flex.col.aligncenter
    #title_container.flex.col.aligncenter 
        h1 John Paul Rutigliano 
        h2 Full-Stack Software Developer 
    hr
    .projects_container.flex.col.aligncenter
        h2 Projects
        for project of projects 
            .project_item_wrapper
                if (project.icon)
                    .icon_container
                        img.project_icon(src=project.icon, alt="#{project.name} icon")
                .project_item(id=project.id)
                    .info_container 
                        a(href=`${project.website || project.github}`, id=`${project.id}-title`) 
                            h3.project_title #{project.name} 

                        p.project_desc !{project.desc} 
                    ul.tags_container 
                        for tag of project.tags 
                            li #{tag} 
                    .actions_container 
                        if (project.website)
                            a.button(href=project.website, aria-labelledby=`${project.id}-title`) Website 
                        if (project.github)
                            a.button.github.icon(href=project.github, aria-labelledby=`${project.id}-title`) GitHub 
    hr
    #mini_projects.flex.col.aligncenter 
        h2 Mini-Projects 
        #mini_projects_content 
            for project of mini_projects 
                a.project_card.card(href=project.link)
                        h3 #{project.name}
                        img.preview(src=project.img, alt="View Project")
    #dnd
        |<b>Looking for my <span style="color: crimson">D&D</span> projects?</b>
        .content 
            |<a href="https://www.jpcode.dev/dnd" class="button glow" aria-label="Click here to view my D and D projects.">Click Here</a> to view them.

block eof
    #eof_scripts 
        style.
            div#content_center > hr {
                opacity: 1;
                transform: scale(1, 1) translateX(0px);
            }