 
doctype html
html(lang='en')
 head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href=linkifyStatic("/img/jp-log-hex-32x32.png"), type="image/png")
    link(rel="stylesheet", href=linkifyStatic("/css/core_style.css"))
    //- link(rel="stylesheet", href="https://static.jpcode.dev/fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2")
    script(src=linkifyStatic("/js/multi-palette.min.js"))

    script(src="https://www.googletagmanager.com/gtag/js?id=G-46Y3Z774KR" async)
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-46Y3Z774KR', {
            cookie_flags: 'SameSite=None; Secure',
            cookie_domain: 'www.jpcode.dev',
        });
    block head
 body
  #page_container
    header
        nav#navbar(role="menubar", aria-label="jpcode.dev", aria-owns="title_link")
            #title
                block titlemixin
            .end.flex.row
                block nav_end
                button.swap_palette.button(role="menuitem")
                    span.text Theme
                    span.material-icons style
    #content_main.filled
        block body
    footer#footer
        div#copyright_text.small.text.aligncenter
            script.
                document.getElementById("copyright_text").innerHTML = `&#169; 2020-${new Date().getFullYear()} <a href="https://github.com/John-Paul-R"> John Paul R.</a>`;
 script(src=linkifyStatic("/js/dropdown_self_contained.js") defer) 
 block eof 
